.size{
  width: 40%;
  font-weight: 400;
  size: 30px;
  color: brown;
  background-color: darkviolet;
} 

h1 {
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 

}